:root {
  --border-color: #EBEEEF;
}

.btn-dark-blue-outline {
  background-color: transparent;
  color: var(--dark-blue);
  border: 3px solid var(--dark-blue);
  border-radius: 10px;
  padding: var(--padding-btn);
  transition-duration: 200ms;
  font-weight: 800;
}
.btn-dark-blue-outline:hover {
  background-color: var(--dark-blue);
  color: white;
}

main {
  margin-bottom: 30px;
}

.product-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "images product-info";
  border: 2px solid var(--border-color);
  border-radius: 20px;
}
.product-info{
  grid-area: product-info;
  padding: 22px 22px 22px 0;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.images-gallery {
  grid-area: images;
  padding: 22px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
.images-gallery .img {
  position: relative;
  width: 100%;
}
.images-gallery .img .prev, .images-gallery .img .next {
  position: absolute;
  cursor: pointer;
  top:45%;
  color: white;
  font-weight: bold;
  font-size: 30px;
  line-height: 15px;
  user-select: none;
  -webkit-user-select: none;
  text-decoration: none;
  margin: 0 10px;
  background-color: rgba(123, 123, 123, 0.3);
  backdrop-filter: blur(5px);
  padding: 20px;
  border-radius: 50%;
}
.images-gallery .img .next {
  right: 0;
}
.products-img-slide img {
  border-radius: 10px;
  height: 460px;
  border: 1px solid var(--border-color);
  object-fit: cover;
}
.products-img-slide {
  display: none;
}
.row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  gap: 12px;
  width: 100%;
}
/* Six columns side by side */
.column {
  width: 94px;
  padding: 0;
}
.column img {
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  height: 94px;
  object-fit: cover;
}
.column .active {
  border: 5px solid var(--dark-blue-20);
}
/* Add a transparency effect for thumnbail images */
.img-slide {
  opacity: 0.6;
}
.active,
.img-slide:hover {
  opacity: 1;
}
.product-contact {
  background-color: var(--dark-blue-20);
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  color: white;
}
.product-contact p {
  margin: 5px 0;
}


.product-details h1 {
  font-size: 28px;
  font-weight: 700;
  margin: 0;
}
.product-details h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  color: var(--dark-blue-20);
}

.product-info .btns{
  display: flex;
  align-items: center;
  gap: 22px;
}
.btns .increase {
  border-radius: 0 10px 10px 0;
  font-weight: 700;
  padding: 10px;
  border: none;
  background-color: var(--dark-blue-20);
  color: white;
}
.btns .quantity {
  display: flex;
  gap: 12px;
  align-items: center;
  font-size: 24px;
  border: 3px solid var(--dark-blue-20);
  border-radius: 14px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"]:focus {
  outline: none; /* Remove outline on focus */
  border: none;  /* Remove border on focus */
}
input[type="number"] {
  border: none;
  font-size: 24px;
  width: 50px;
  text-align: center;
}
.btns .decrease {
  border-radius: 10px 0 0 10px;
  font-weight: 700;
  padding: 10px;
  border: none;
  color: white;
  background-color: var(--dark-blue-20);
}
.btns .decrease:hover, .btns .increase:hover {
  background-color: var(--dark-blue);
}
.product-container {
  padding: 20px;
}
.product-title {
  text-align: center;
  font-size: 24px;
  color: #333333;
}
.product-subtitle {
  font-size: 18px;
  color: #666666;
  margin-bottom: 10px;
}
.product-detail {
  margin-bottom: 15px;
}
.product-detail ul {
  padding-left: 20px;
}
.product-warranty {
  font-size: 18px;
  color: var(--dark-blue);
  align-self: flex-start;
  padding: 0 12px;
}

@media screen and (max-width: 992px) {
  .product-details {
    grid-template-areas:
      "images images"
      "product-info product-info";
  }

  .product-info {
    padding: 22px;
  }
}